@model List<Projects>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-dark py-2">Project List</h2>
            </div>
        </div>
    </div>
    <div class="card-body pt-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Projects" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-person-plus"></i>Create New Project
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Project Location</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Supervisor Name</th>
                        <th>Total Budget</th>
                        <th>Profit & Loss</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.ProjectName</td>
                            <td>@obj.ProjectLocation</td>
                            <td>@obj.StartDate</td>
                            <td>@obj.EndDate</td>
                            <td>@obj.SupervisorName</td>
                            <td>@obj.Budget</td>
                            <td>@obj.ProfitAndLoss</td>
                            <td></td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-controller="Projects" asp-action="Edit" asp-route-projectId="@obj.ProjectId" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil-fill"></i>Edit
                                    </a>
                                    @* <a asp-controller="TaskDetails" asp-action="Index" asp-route-projectId="@obj.ProjectId" class="btn btn-light mx-2">
                                        <i class="bi bi-ticket-detailed"></i>Create Task
                                    </a> *@
                                    <a asp-controller="Projects" asp-action="Delete" asp-route-projectId="@obj.ProjectId" class="btn btn-danger mx-2">
                                        <i class="bi bi-trash-fill"></i>Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
